#contact{
  h1{
    font-size: 60px;
    margin: 0 auto;
    font-weight: 300;
    max-width: 1000px;
    margin-top: 25px;
    text-align: center;
  }
  #wrap {max-width:700px; width: 100%; margin:20px auto 0; height:1000px;}
  h1 {margin-bottom:20px; text-align:center;font-size:48px; text-shadow:0 1px 0 #ede8d9; }

  #wrap .contact-complete{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
  }
  #form_wrap { overflow:hidden; height:446px; position:relative; top:0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;}
  
  #form_wrap:before {content:"";
    position:absolute;
    bottom:128px;left:0px;
    background:url('images/contact-before.png');
    max-width:700px; width: 100%; height: 316px;
    background-size: 100% 100%;
  }
  #form_wrap:after {content:"";position:absolute;
    bottom:0px;left:0;
    background:url('images/contact-after.png');
    max-width:700px; width: 100%; height: 260px;
    background-size: 100% 100%;
  }

  #form_wrap.hide:after, #form_wrap.hide:before {display:none; }
  #form_wrap:hover {height:825px;top:-200px;}


  form {background:#f7f2ec url('images/contact-letter_bg.png'); 
    background-size: 100% 100%;
    position:relative;top:200px;overflow:hidden;
    height:200px;max-width:700px; width: 75%; margin:0px auto;padding:20px; 
    border: 1px solid #fff;
    font-size: 24px;
    border-radius: 3px; 
    -moz-border-radius: 3px; -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
  }

    input[type=text], input[type=submit]{
      transition-delay: 1400ms;
    }
    input[type=submit]{
      opacity: 0.0;
      transition: all 300ms ease-in 1400ms;
    }
    #form_wrap:hover form {
      height:900px;
      input[type=text]{
        z-index: 10;
        // transition-delay: 0ms;
      }
      input[type=submit]{
        transition-delay: 0s;
      }
    }

    label {
      margin: 11px 20px 0 0; 
      font-size: 16px; color: #b3aba1;
      text-transform: uppercase; 
      text-shadow: 0px 1px 0px #fff;
    }

    input[type=text], textarea {
      position:relative;
      font: 14px normal normal uppercase helvetica, arial, serif;
      color: #7c7873;background:none;
      max-width: 680px; width: 95%; height: 36px; padding: 0px 10px; margin: 0 0 10px 0;
      border:1px solid #f8f5f1;
      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
      -moz-box-shadow: inset 0px 0px 1px #726959;
      -webkit-box-shadow:  inset 0px 0px 1px #b3a895; 
      box-shadow:  inset 0px 0px 1px #b3a895;
    } 

    textarea { height: 80px; padding-top:14px;}

    textarea:focus, input[type=text]:focus {background:rgba(255,255,255,.35);}

    #form_wrap input[type=submit] {
      position:relative;
      // font-size:24px; color: #7c7873;text-shadow:0 1px 0 #fff;
      // width:100%; text-align:center;opacity:0;
      // background:none;
      // cursor: pointer;
      // -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
      // -webkit-transition: opacity .6s ease-in-out 0s;
      // -moz-transition: opacity .6s ease-in-out 0s;
      // -o-transition: opacity .6s ease-in-out 0s;
      // transition: opacity .6s ease-in-out 0s;
    }
    .submit-btn{
      width: 100%;
      text-align: center;
      .btn{
        background: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 11px 24px 8px 24px;
        // transition: all 300ms ease-in;
      }
      .btn:hover{
        background: $accent-color;
        border-color: $accent-color;
        color: #fff;
      }
    }

    #form_wrap:hover input[type=submit] {z-index:1;opacity:1;
      // -webkit-transition: all .3s ease-in-out;
      // -moz-transition: all .3s ease-in-out;
      // -o-transition: all .3s ease-in-out;
      // transition: all .3s ease-in-out;
    }

      
}