#homePage{
  height: 100%;
  overflow: hidden;
}
#home{
  padding-top: 55px;
  text-align: center;
  min-height: 100%;
  h1{
    font-size: 100px;
    font-weight: 300;
    max-width: 960px;
    margin: 0 auto;
  }
 .start-greet{
    text-align: left;
    margin-top: 45px;
 } 
 .end-greet{
    text-align: left;
    margin-bottom: 45px;
    width: 50%;
    float: right;
  .name{
    color: $accent-color;
  } 
 }
 .clear{
  clear: both;
 }
 .sub-header{
    font-size: 22px;
    p{
      margin-top: 100%;
      transition: 900ms ease-out margin;
    }
    .first{
      transition-delay: 0s;
    }
    .second{
      transition-delay: 400ms;
    }
    .third{
      transition-delay: 900ms;
    }
    .show-text{
      margin-top: 0;
    }
 }
 .call-to-action{
  margin-top: 100%;
  transition: 1000ms ease-out all;
  margin-bottom: 300px;
  .btn{
    background: transparent;
    padding: 15px 30px;
    color: $accent-color;
    border: 1px solid $accent-color;
    font-size: 25px;
    transition: ease-in 200ms;
  }
  .btn:hover{
    background: #0e7183;
    border-color: #0e7183;
    color: #fff;
  }
 }
 .show-call-to-action{
  margin-top: 45px;
 }
 .color-call-to-action{
  .btn{
    background-color: $accent-color;
    color: #fff;
  }
 }
}

// MEDIUM DESKTOPS
@media (max-width: 1200px) { 
} 

// TABLETS
@media (max-width: 992px) { 
  #home{
    .end-greet{
      width: 55%;
    }
  }
} 

// LARGE PHONES
@media (max-width: 768px) {
    #home{
      h1{
        font-size: 65px;
      }
      .start-greet{
        width: 100%;
        text-align: center;
      }
      .end-greet{
        width: 100%;
        text-align: center;
      }
      .sub-header{
        font-size: 16px;
      }
      .call-to-action{
        .btn{
          font-size: 18px;
        }
      }
  }
} 

// Med PHONES
@media (max-width: 600px) {
  #home{
    .sub-header{
      p{
        margin-top: 150%;
      }
    }
    .call-to-action{
      margin-top: 150%;
    }
    .show-call-to-action{
      margin-top: 45px;
    }
  }
} 

// IPHONE
@media (max-width: 400px) {
  #home{
    h1{
      font-size: 50px;
    }
  }
} 