#nav{
  width: 100%;
  height: 54px;
  // border-bottom: 1px solid $accent-color;
  
  text-align: center;
  // font-family: 'Raleway';
  position: fixed;
  z-index: 1;
  background: #fff;
  max-width: 1600px;

  background: $accent-color;
  color: #fff;
  .nav-list{
    width: 100%;
    .nav-list-item{
      display: inline-block;
      width: 14%;
      vertical-align: top;
      padding-top: 15px;
      padding-bottom: 8px;
      cursor: pointer;
      transition: ease-in 200ms;
      background: $accent-color;
      text-transform: lowercase;
      font-size: 22px;
      font-weight: 300;
    }
    .nav-list-item:hover{
      background: #d5d3d3;
      color: #fff;
    }
    .line-break{
      display: inline-block;
      width: 1px;
      height: 28px;
      background: $accent-color;
      margin-top: 12px;
    }
  }
}