#portfolio{
  min-height: 1000px;
  padding-top: 10px;
  h1{
    font-size: 60px;
    margin: 0 auto;
    font-weight: 300;
    max-width: 1000px;
    margin-top: 25px;
    text-align: center;
  }
  h1.tilda{
    font-size: 95px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
    color: $accent-color;
  }
  h2{
    margin-top:0;
    margin-bottom: 35px;
  }
  .details{
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .more-info{
    background: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    transition: all 300ms ease-in;
  }
  .rm-container{
    position: absolute;
    height: 550px;
    max-width: 385px;
    cursor: pointer;
    transition: 700ms all ease-in;
    .cover-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $background-color;
      z-index: 1;
      transition: 1600ms all ease-in-out;
    }
    .hide-cover-overlay{
      height: 0;
    }
    .inner-content{
      opacity: 0.0;
      transition: 1s all ease-in;
    }
    .show-inner-content{
      opacity: 1.0;
    }
    .rm-cover{
      .rm-front{
        transition: opacity 700ms ease-in;
        background-color: #f5f0eb;
        background-image: -webkit-radial-gradient(center,ellipse cover,#efe6dd 10%,#f5f0eb 60%);
        border: none;
        .pattern{
          width: 100%;
        }
        .hover-pattern{
          width: 100%;
          position: absolute;
          left:0;
          top:0;
          opacity: 0.0;
          transition: opacity 300ms ease-in;
        }
        .info{
          padding: 20px;
          margin: 0;
          position: absolute;
          border-image: url(images/square.png) 30 round;
          border-image-width: 30px;
          width: 96%;
          height:96%;
          left: 2%;
          top: 2%;
        }
      }
      .rm-back{
        border-right-color: #fff;
        text-align: left;
        .mac1-pic{
          width: 150%;
          
          // margin-top: 65px;
          // margin-left: 40px;
        }
      }
    }
    .rm-middle{
      .rm-inner{
        border-left-color: #fff;
        border-right-color: #fff;
        text-align: left;
        overflow: hidden;
        .mac-pic{
          opacity: 0.0;
          width: 150%;
          margin-top: 65px;
          margin-left: -90%;
          transition: opacity ease-in 700ms;
        }      
        .mac-screen-pic{
          opacity: 0.0;
          width: 136.8%;
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 89px;
          margin-left: -83.5%;
          transition: opacity ease-in 700ms;
        }
      }
    }
    .rm-right{
      .rm-back{
        border-left-color: #fff;
        text-align: right;
        .close-icon{
          opacity: 0.0;
          transition: opacity ease-in 700ms;
          svg{
            width: 15%;
            height: 15%;
            path{
              fill: $primary-color;
            }
          }
        }
        .port-logo{
          opacity: 0.0;
          transition: opacity ease-in 700ms;
          width: 50%;
          margin-top: -15px;
          margin-right: 40px;
        }
        .port-desc{
          text-align: justify;
          margin-left: -125px;
          margin-top: 15px;
          padding-right: 40px;
          font-size: 17px;
          opacity: 0.0;
          transition: opacity ease-in 700ms;
        }
        .tags{
          text-align: left;
          margin-left: -125px;
          margin-top: 10px;
          padding-right: 40px;
          opacity: 0.0;
          transition: opacity ease-in 700ms;
          .tag{
            display: inline-block;
            margin-right: 6px;
            margin-top: 8px;
            padding: 3px 6px 0px;
            background: $accent-color;
            color: #fff;
          }
        }
        .links{
          padding-right: 40px;
          margin-top: 25px;
          opacity: 0.0;
          transition: opacity ease-in 700ms;
          a{
            font-size: 18px;
            margin-bottom: -10px;
            display: inline-block;
            color: $primary-color;
          }
          a:hover{
            color: $accent-color;
          }
          i{
            margin-left: 25px;
            font-size: 40px;
          }
        }
      }
    }
  }
  
  .rm-container.firefox-z-fix{
    .rm-cover{
      z-index:initial;
    }
  }
  
  .rm-container.rm-open{
    .rm-cover{
      .rm-front{
        opacity: 0.0;
      }
    }
  }
  
  .rm-container.display-overflow{
    .rm-middle{
      .rm-inner{
        overflow: visible;
      }
    }
  }
  
  .rm-container.display-info{
    .rm-middle{
      .rm-inner{
        .mac-pic{
          opacity: 1.0;
        }
        .mac-screen-pic{
          opacity: 1.0;
        }
      }
    } 
    .rm-right{
      .rm-back{
        .close-icon{
          opacity: 1.0;
        }
        .port-logo{
          opacity: 1.0;
        }
        .port-desc{
          opacity: 1.0;
        }
        .tags{
          opacity: 1.0;
        }
        .links{
          opacity: 1.0;
        }
      }
    }
  }
  
  .rm-container:hover{
    .rm-cover{
      .rm-front{
        .info{
          .more-info{
            background: $accent-color;
            color: #fff;
          }
        }
      }
    }
  }
  
  #rm-zoraab{
    left: 2%;
  }
  #rm-mint{
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);;
    .rm-cover .rm-front .logo{
      max-width: 220px;
    }
    .rm-cover .rm-front .hover-logo{
      max-width: 220px;
      margin-top:-28%;
    }
    .rm-right .rm-back .port-logo{
      width: 30%;
    }
    
  }
  #rm-stats{
    right: 2%;
    .rm-cover .rm-front .logo{
      max-width: 250px;
    }
    .rm-cover .rm-front .hover-logo{
      max-width: 250px;
      margin-top:-15%;
    }
  }
  
  
  #rm-zoraab.unselected-mint{
    left: -40%;
  }
  
  #rm-zoraab.unselected-stats{
    left: -80%;
  }
  
  #rm-stats.unselected-mint{
    right: -40%;
  }
  
   #rm-stats.unselected-zoraab{
    right: -80%;
  }
  
  #rm-mint.unselected-zoraab{
    left: 130%;
  }
  
  #rm-mint.unselected-stats{
    left: -30%;
  }
  
  #rm-zoraab.selected{
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    left: 50%;
  }
  
  #rm-stats.selected{
    transform: translate(50%, 0%);
    -webkit-transform: translate(50%, 0%);
    right: 50%;
  }
  
}

// MEDIUM DESKTOPS
@media (max-width: 1200px) { 
  #portfolio{
    #rm-zoraab{
      left: 0%;
    }
    #rm-stats{
      right: 0%;
    }
  }
} 

// TABLETS
@media (max-width: 992px) { 
  #portfolio{
    h2{
      font-size: 25px;
    }
    .details{
      width: 95%;
      font-size: 18px;
    }
    .rm-container{
      .rm-middle{
        .rm-inner{
          .mac-screen-pic{
            margin-left: -88%;
          }
          .mac-pic{
            margin-left: -95%;
          }
        }
      }
      .rm-right{
        .rm-back{
          .port-desc{
            font-size: 14px;
            padding-right: 15px;
            margin-left: -85px;
          }
          .tags{
            padding-right: 15px;
            margin-left: -85px;
          }
        }
      }
    }
  }
} 

// LARGE PHONES
@media (max-width: 768px) {
  #portfolio{
    .rm-container{
      position: initial;
      width: 100%;
    }
    #rm-mint{
      left: initial;
      transform: initial;
    }
  }
} 

// Med PHONES
@media (max-width: 600px) {
} 

// IPHONE
@media (max-width: 450px) {
} 

